module.exports = {
    eyotek_url: "xyz.eyotek.com",
    PORT: process.env.PORT || 3001,
    PUPPETEER_EXECUTABLE_PATH: '/Applications/Chromium.app/Contents/MacOS/Chromium', // your browser path
    COOKIES_PATH: './cookies.json'
};