module.exports = {
    PORT: process.env.PORT || 3001,

    USE_API_KEY: true,
    API_KEY: 'FkZNpN08O0s0OEWZALNrRsXtIHsi2WKFEoHpANX3uVf', // example api key

    LOGIN_MODE: 'auto', // auto or manual
    USERNAME: '1234',
    PASSWORD: 'P@ssw0rd!',

    eyotek_url: "xyz.eyotek.com",

    PUPPETEER_EXECUTABLE_PATH: '/Applications/Chromium.app/Contents/MacOS/Chromium',
    COOKIES_PATH: './cookies.json',

    EYOTEK_DATE_FORMAT: 'DD.MM.YYYY',
    API_DATE_FORMAT: 'YYYY-MM-DD'
};